.sidebar {
    position: fixed;
    width: 22dvw;
    height:100dvh;
    background-image:linear-gradient(to bottom, rgb(75, 75, 75), rgb(46, 46, 46));
    padding-top:5%;
}

.sidebar .btn {
    background-image: linear-gradient(to right, rgb(243, 243, 243), rgb(255, 255, 255));
    border-radius:8px;
    display: block;
    width: 70%;
    padding:8px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    font-weight:bold;
    color:rgb(70, 70, 70);
    text-decoration:none;
    box-shadow : 0 0 5px rgb(0, 0, 0);
    margin-bottom:10%;
    margin-top:5%;
}

.sidebar .btn:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(141, 112, 189);
    box-shadow: 0 0 10px rgb(141, 112, 189);
}

.content {
    margin-left: 22dvw;
    background-color: rgb(250, 250, 250);
    height: 100dvh;
    overflow-y: auto;
}
.info {
    padding:20px;
    
}

button:hover {
    background-color:rgb(244, 202, 255);
    color:rgb(255, 242, 255);
    box-shadow: 0 0 10px rgb(141, 112, 189);
    transition:.4s;
}
.logout {
    position: absolute;
    border-radius:10px;
    padding:10px;
    top: 2dvh;
    left: 90dvw;
    border: 2px solid rgb(141, 112, 189);
    background-color:rgb(221, 221, 221);
    color:rgb(82, 82, 82);
    font-weight: bold;
    font-size: .8em;

    
}

@media (max-width: 600px) {
    .sidebar {
        width: 100dvw;
        height: 20dvh;
        position: relative;
    }
    .sidebar .btn {
        margin-bottom:3%;
    }
    .logout {
        position: relative;
        top: 0;
        left: 0;
        border-radius: 0;
        width: 100%;
    }
}